#quote {
    background: var(--bgimg) center/cover no-repeat;
    text-align: center;
}
#quote div{
    background-color: rgba(113, 38, 38, .90);
    color: white;
    padding: 30px 20px;
    text-shadow: 0 0 5px var(--accent3);
    font-weight: 600;
}
#quote h1{margin-top: 0;}

#banner {background: var(--bgimg) center/cover no-repeat; display:none;}
#bannerHalf {background-color: rgba(113, 38, 38, .90); padding: 20px;}
#bannerHalf div {
    background-color: rgba(255,255,255,.85);
    margin: 0;
    padding: 1px 20px;
    line-height: 1;
    text-align: justify;
}
@media only screen and (min-width: 601px) {#bannerHalf{width:50%; float: left;}}

#port {
    padding: 20px;
    text-align: center;
}
#port div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
}
#port img {
    width: 25%;
}
#port a {
    display: inline-block;
    background-color: var(--accent3);
    color: white;
    padding: 15px;
    margin: 20px;
}
#port a:hover {background-color: var(--accent4);text-decoration: none;}

#section{margin:20px;}
@media only screen and (min-width: 601px) {
    #instagram{
        width: 50%;
        max-width: 400px;
        flex-shrink: 0;
        max-height: 100%;
        overflow: auto;
    }
    #about{width:50%; max-width: 600px; margin: auto;}
    #section{display: flex; flex-direction: row;justify-content: space-evenly;}
}
#instagram{border: 20px solid var(--gray3); background-color: var(--gray3); max-width: 400px; margin: auto; position: relative;}
#about{padding: 0 20px;}
@media only screen and (max-width: 600px){#about {padding-bottom: 20px;}}
#igProfileButton {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 8px;
}
#igProfileButton a {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    position: relative;
    color: white;
    font-weight: 600;
    display: block;
    background-color: var(--accent3);
    border-radius: 4px;
    padding: 5px 9px;
    z-index: 1;
}