#banner {
    background: var(--bgimg) center/cover no-repeat;
}
#bannerHalf {
    background-color: rgba(113, 38, 38, .90);
    width: 50%;
    padding: 20px;
}
#bannerHalf div {
    background-color: rgba(255,255,255,.85);
    margin: 0;
    padding: 1px 20px;
    line-height: 1;
    text-align: justify;
}
@media only screen and (max-width: 600px) {
    #bannerHalf{width:100%;}
}