@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Source+Sans+Pro:wght@400;600;700;900&display=swap");
:root {
    --bgimg: url("/repeatingElements/background.jpg");
    --color1: #898989;
    --color2: #bebebe;
    --color3: #dddddd;
    --color4: #f3f3f3;
    --color5: #ffffff;
    --accent1: #3f1515;
    --accent2: #581d1d;
    --accent3: #712626;
    --accent4: #8a3030;
    --accent5: #a33535;
}

html{font-size: max(calc(16px + (20 - 16) * ((100vw - 320px)/(1440 - 320))), 100%);}
h1 {font-size: 3.052rem;}
h2 {font-size: 2.441rem;}
h3 {font-size: 1.953rem;}
h4 {font-size: 1.563rem;}
h5 {font-size: 1.25rem;}
body {1rem;}

body{margin: 0;}
h1, h2, h3 {
    line-height: 1;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
h1{margin:0;}
a {
    color: var(--accent3);
    font-weight: 600;
    text-decoration: none;
}
a:hover {text-decoration: underline;}
a:visited {color: var(--accent2);}

* {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}


/* HEADER */
    #header {
        background-color: var(--accent3);
        padding: 5px;
        vertical-align: middle;
        height: calc(1em + 30px);
    }
    #header h1 {
        text-align: left;
        font-size: 1.25em;
        line-height: 1;
        display: inline-block;
        color: white;
        margin: 10px;
    }

    @media only screen and (min-width: 601px) {
        #nav {float: right;}
        #navIcon {display: none;}
        #nav a, #nav a:hover {
            display: inline-block;
            margin: 10px;
            color: white;
        }
    }
    @media only screen and (max-width: 600px) {
        #navIcon img{
            display: inline-block;
            height: 1em;
            margin: 10px;
        }
        #navIcon {float: right; height: calc(1em + 20px);}
        #navIcon:hover {background-color: var(--accent4);}
        #nav{margin: 0 0 0 auto; position: absolute; right:0; padding:5px 0;background-color: var(--color2); display: none;}
        #nav a {
            text-align: center;
            display: block;
            padding: 5px 10px;
            color: black;
        }
        #nav a:hover {
            background-color: var(--color1);
            text-decoration: none;
        }
    }
    @media only screen and (max-width: 400px) {#nav{width: 100%;left:0; }}
    
/* FOOTER */
    #footer {
        background-color: var(--accent3);
        padding: 10px 5px;
        color: white;
        line-height: 1;
        height: calc(2.5em + 30px);
        vertical-align: bottom;
    }
    #footer a {color: white;}
    #footer div {padding: 5px 10px;}
    #footer h1 {font-size: 1.25em; text-align: left;}
    #footer i {font-size: 1em; display: block; padding-top: 5px;}
    @media only screen and (min-width: 601px) {
        #footerLogo{float: left; text-align: left; line-height: 1;}
        #footer{text-align: right;}
        #footer img {padding-left: 5px;}
    }
    @media only screen and (max-width: 600px) {
        #footerLogo{display: none;}
        #footer{text-align: center;}
    }
    #footer img {height: 1em;}
    
/* MAIN */
    #main {min-height: calc(100vh - ((1em + 30px) + (2.5em + 30px))); background-color: green;}